<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculatop 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link href="libs/mmenu/jquery.mmenu.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css">
    <script src="https://use.typekit.net/pca4zir.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<div id="app">
    <header class="header">
        <a href="#" class="header__logo">
            <picture>
                <source srcset="img/logo-header.svg" media="(max-width: 991px)">
                <source srcset="img/logo-header.svg">
                <img class="header__logo-img" src="img/logo-header.svg" alt="">
            </picture>
        </a>

        <div class="header__nav-wrapper">
            <nav class="header__nav">
                <a href="#" class="header__nav-link">About Us</a>
                <a href="#" class="header__nav-link">Free tools</a>
                <a href="#" class="header__nav-link">Program</a>
                <a href="#" class="header__nav-link">Blog</a>
                <div href="#" class="header__nav-link header__nav-link_login" @click="submenu.status = !submenu.status">
                    <span>Login</span>
                    <div class="header-submenu" v-if="submenu.status" v-cloak>
                        <a href="#" class="header-submenu__link">30 Days to Optimal Gut Health</a>
                        <a href="#" class="header-submenu__link">Type something something</a>
                        <a href="#" class="header-submenu__link">Integrated BodyTransformation System</a>
                    </div>
                </div>
            </nav>
            <a href="#" class="header__btn">Start here</a>
        </div>

        <nav id="my-menu">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Free tools</a></li>
                <li><a href="#">Program</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Start here</a></li>
            </ul>
        </nav>

        <a class="header__burger" href="#my-menu">
            <div class="header__burger-dash header__burger-dash__top"></div>
            <div class="header__burger-dash header__burger-dash__middle"></div>
            <div class="header__burger-dash header__burger-dash__bottom"></div>
        </a>
    </header>

    <div class="text">
        <div class="container">
            <div class="row">
                <h1 class="calc__title calc__title_laptop">Calculate Your Your Body Fat Percentage</h1>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <p><b>If you want to lose weight, get in shape, build muscle, feel good, healthy and positive about
                        yourself then you have come to the right place!</b>
                    </p>
                    <p>
                        If you want to lose weight, get in shape, build muscle, feel good, healthy and positive about
                        yourself then you have come to the right place!
                    </p>
                    <p>
                        We are dedicated to one things only, that is making sure that you reach your body transformation
                        goals and become stronger, healthier, happier and more confident then ever before.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="calc calc_laptop">
        <div class="container">
            <div class="row">
                <div class="calc__tablet-bg">
                    <transition name="slide1">
                        <div v-if="formHelpers.formStepOne" class="calc__tablet-wrapper">
                            <form class="calc-form calc-form__laptop"
                                  @submit.prevent="goToSecondStep()">
                                <div class="calc-form__area calc-form__area_laptop">
                                    <p class="calc-form__input-title">Age</p>
                                    <input class="calc-form__input calc-form__input_laptop"
                                           v-model="formsFields.age"
                                           v-validate="'required|numeric'"
                                           type="text" name="age"
                                           placeholder="Enter your age">
                                </div>
                                <div class="calc-form__area calc-form__area_laptop">
                                    <p class="calc-form__input-title">Sex</p>
                                    <select class="calc-form__input calc-form__input_laptop calc-form__input_select">
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                    </select>
                                </div>
                                <div class="calc-form__area calc-form__area_laptop">
                                    <div class="calc-form__input-group calc-form__input-group_laptop">
                                        <p class="calc-form__input-title">Weight</p>
                                        <input class="calc-form__input calc-form__input_laptop"
                                               v-model="formsFields.weightLbs"
                                               v-validate="'required|numeric'"
                                               v-if="!formHelpers.weightUnitChecked"
                                               type="text"
                                               name="weightLbs"
                                               placeholder="Enter your weight in lbs">
                                        <input class="calc-form__input calc-form__input_laptop"
                                               v-model="formsFields.weightKg"
                                               v-validate="'required|numeric'"
                                               v-if="formHelpers.weightUnitChecked"
                                               type="text"
                                               name="weightKg"
                                               placeholder="Enter your weight in kg">
                                        <div class="calc-form__switch calc-form__switch_laptop">
                                            <input type='checkbox'
                                                   class='ios8-switch'
                                                   id='checkbox_lbs'
                                                   v-model="formHelpers.weightUnitChecked">
                                            <label for='checkbox_lbs'>{{ weightUnit }}</label>
                                            <span class="calc-form__switch-info">{{ weightUnitReverse }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="calc-form__area calc-form__area_laptop">
                                    <p class="calc-form__input-title">Skinfold 1</p>
                                    <input class="calc-form__input calc-form__input_laptop"
                                           v-model="formsFields.skinfold1"
                                           v-validate="'required|numeric'"
                                           type="text" name="skinfold1"
                                           placeholder="mm">
                                </div>
                                <div class="calc-form__area calc-form__area_laptop">
                                    <p class="calc-form__input-title">Skinfold 2</p>
                                    <input class="calc-form__input calc-form__input_laptop"
                                           v-model="formsFields.skinfold2"
                                           v-validate="'required|numeric'"
                                           type="text" name="skinfold2"
                                           placeholder="mm">
                                </div>
                                <div class="calc-form__area calc-form__area_last calc-form__area_laptop">
                                    <p class="calc-form__input-title">Skinfold 3</p>
                                    <input class="calc-form__input calc-form__input_laptop"
                                           v-model="formsFields.skinfold3"
                                           v-validate="'required|numeric'"
                                           type="text" name="skinfold3"
                                           placeholder="mm">
                                </div>
                                <div class="calc-form__area calc-form__area_laptop">
                                    <button class="calc-form__btn calc-form__btn_laptop">Calculate</button>
                                </div>
                            </form>
                        </div>
                    </transition>
                    <transition name="calc-overlay">
                        <div class="calc-overlay" v-if="formHelpers.calcOverlay" v-cloak>
                            <div class="loader-ring">
                                <div class="loader-logo"></div>
                                <div class="loader-ring-light"></div>
                            </div>
                            <p class="calc-overlay__title">Calculating your results</p>
                        </div>
                    </transition>
                    <transition name="slide2">
                        <div v-if="!formHelpers.formStepOne" class="calc-form__laptop">
                            <div class="bmr bmr_laptop">
                                <button class="bmr__btn-back bmr__btn-back_laptop" type="button" @click.prevent="formHelpers.formStepOne = !formHelpers.formStepOne">« back</button>

                                <h5 class="bmr__title bmr__title_three-circles bmr__title_laptop">YOUR BODY FAT PERCENTAGE:</h5>
                                <div class="bmr__circle bmr__circle_small">
                                    <div class="bmr__circle-item bmr__circle-item_small">
                                        <p class="bmr__circle-name">BODY FAT PERCENTAGE:</p>
                                        <div class="bmr__circle-item_inner bmr__circle-item_inner-small">
                                            <span class="bmr__circle-title">18.17</span>
                                            <span class="bmr__circle-desc">%</span>
                                        </div>
                                    </div>
                                    <div class="bmr__circle-item bmr__circle-item_small">
                                        <p class="bmr__circle-name">YOUR FAT MASS:</p>
                                        <div class="bmr__circle-item_inner bmr__circle-item_inner-small">
                                            <span class="bmr__circle-title">4.1</span>
                                            <span class="bmr__circle-desc">LBS</span>
                                        </div>
                                    </div>
                                    <div class="bmr__circle-item bmr__circle-item_small">
                                        <p class="bmr__circle-name">YOUR LEAN MASS:</p>
                                        <div class="bmr__circle-item_inner bmr__circle-item_inner-small">
                                            <span class="bmr__circle-title">17.9</span>
                                            <span class="bmr__circle-desc">LBS</span>
                                        </div>
                                    </div>
                                </div>

                                <form class="bmr__form" action="" class="bmr__form"
                                      @submit.prevent="submitForm()">

                                    <div class="bmr__form-area bmr__form-area_laptop">
                                        <p class="bmr__caption-title bmr__caption-title_laptop">Subscribe to our newsletter to receive weight loss tips suited for yor body type (example text)!</p>

                                        <div class="bmr__field-area">
                                            <input class="calc-form__input calc-form__input_laptop"
                                                   v-model="formsFields.name"
                                                   v-validate="'required'"
                                                   type="text" name="name"
                                                   placeholder="Enter your first name">
                                        </div>
                                        <div class="bmr__field-area bmr__field-area_last">
                                            <input class="calc-form__input calc-form__input_laptop"
                                                   v-model="formsFields.email"
                                                   v-validate="'required|email'"
                                                   type="text" name="email"
                                                   placeholder="Enter your email">
                                        </div>
                                    </div>
                                    <div class="bmr__btn-area">
                                        <button class="calc-form__btn calc-form__btn_laptop">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>

    <div class="text">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <p><b>If you want to lose weight, get in shape, build muscle, feel good, healthy and positive about
                        yourself then you have come to the right place!</b>
                    </p>
                    <p>If you want to lose weight, get in shape, build muscle, feel good, healthy and positive about
                        yourself then you have come to the right place!
                    </p>
                    <p>We are dedicated to one things only, that is making sure that you reach your body transformation
                        goals and become stronger, healthier, happier and more confident then ever before.
                    </p>

                    <p class="calc-table__title"><b>Rep Max Max Percentages</b></p>
                    <table class="calc-table">
                        <tr class="calc-table__row">
                            <th class="calc-table__head-cell">REPS</th>
                            <th class="calc-table__head-cell">%1RM</th>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">1</td>
                            <td class="calc-table__cell">100</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">2</td>
                            <td class="calc-table__cell">95</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">3</td>
                            <td class="calc-table__cell">93</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">4</td>
                            <td class="calc-table__cell">90</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">5</td>
                            <td class="calc-table__cell">87</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">6</td>
                            <td class="calc-table__cell">85</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">7</td>
                            <td class="calc-table__cell">83</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">8</td>
                            <td class="calc-table__cell">80</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">9</td>
                            <td class="calc-table__cell">77</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">10</td>
                            <td class="calc-table__cell">75</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">11</td>
                            <td class="calc-table__cell">73</td>
                        </tr>
                        <tr class="calc-table__row">
                            <td class="calc-table__cell">12</td>
                            <td class="calc-table__cell">70</td>
                        </tr>
                    </table>

                    <p>We are a team of certified nutritionists, dietitians, personal trainers, physical therapists,
                        and motivational coaches that have helped thousands of people transform their lives through out
                        the years. We have worked with everyone from high level athletes to couch potatoes..
                        from people that want to melt off a few pounds to people that want a complete body
                        transformation, we have seen it all and are constantly improving our methods to guarantee
                        each person we work with reaches their transformation goals.
                    </p>
                    <p>The truth is, its not that complicated.. you just need to know what you’re doing! and that’s
                        why we’re here.. <b>people do many things wrong when trying to transform their bodies..
                            checkout some of those things here: </b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer container">
        <p class="footer__copy"></p>
        <nav class="footer__nav">
            <a href="#" class="footer__link">Terms</a>
            <a href="#" class="footer__link">Privacy</a>
            <a href="#" class="footer__link">About</a>
            <a href="#" class="footer__link">Press</a>
            <a href="#" class="footer__link">Jobs</a>
            <a href="#" class="footer__link">Feedback</a>
            <a href="#" class="footer__link">Site Map</a>
            <a href="#" class="footer__link">Rss</a>
        </nav>
    </footer>
</div>

<script src="libs/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vee-validate@2.0.0-rc.14/dist/vee-validate.js"></script>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/mmenu/jquery.mmenu.js" type="text/javascript"></script>
<script src="libs/mmenu/addons/navbars/jquery.mmenu.navbars.js" type="text/javascript"></script>
<link href="libs/mmenu/extensions/fullscreen/jquery.mmenu.fullscreen.css" type="text/css" rel="stylesheet" />
<link href="libs/mmenu/addons/navbars/jquery.mmenu.navbars.css" type="text/css" rel="stylesheet" />
<script src="js/frombox.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>