
.programs {
  padding-top: 64px;
  padding-bottom: 0;
  //background-color: var(--pale-grey);

  &__title {
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 50px;
    color: var(--slate);
    text-align: center;
  }
}

.program {
  margin-bottom: 100px;

  &__img {
    width: 100%;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  }

  &__title {
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 17px;
  }

  &__desc {
    @include fontSH(18px, 22px);
    margin-bottom: 17px;
    color: var(--slate);
  }

  &__btn {
    padding: 17px 29px;
    @extend %blue-button;
    @extend .wave;
  }
}

@media (max-width: $sm) {
  .programs {
    padding-top: 43px;

    &__subtitle {
      font-size: 22px;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 7px;
    }

    .program {

      margin-bottom: 40px;

      &__title {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: $xs) {
  .programs {
    &__subtitle {
      margin-bottom: 30px;
    }
  }
  .program {

    margin-bottom: 40px;

    &__btn {
      width: 100%;
    }
    &__title {
      margin-top: 20px;
    }
  }
}
