.plist-top {
  padding-top: 130px;
  padding-bottom: 150px;
  background: url('../img/nutrition-programs-bg.jpg') no-repeat center;
  background-size: cover;

  &__text-wrapper {
    margin: 0 auto;
    width: 618px;
    text-align: center;
  }

  &__title {
    margin-top: 0;
    font-size: 36px;
    color: $white;
  }

  &__desc {
    color: $white;
    opacity: 0.9;
  }
}

.plist-item {
  background-repeat: no-repeat;
  background-position: calc(50% - 295px) center;
  background-size: auto 350px;

  &__wrapper {
    position: relative;
    padding-top: 66px;
    //padding-bottom: 160px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 90%;
      height: 1px;
      background-color: rgba(88, 99, 122, 0.2);
    }

    &_last {
      &::after {
        content: none;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
  }

  &__desc {
    margin-bottom: 28px;
    color: var(--slate);
  }
  &__img-wrapper {
    float: left;
  }
  &__img {
    width: 80%;
    text-align: center;
    margin-top: 15px;
  }

  &__btn {
    padding: 17px 57px;
    @include borderButton(var(--electric-blue));

    &:hover {
      @include borderButtonHover(var(--electric-blue));
    }
  }
}


@media (max-width: $sm) {
  .plist-top {
    padding-top: 98px;
    padding-bottom: 117px;

    &__text-wrapper {
      width: 74%;
    }
  }

  .plist-item {
    background-position: calc(50% - 93px) center;
    background-size: auto 300px;

    &__wrapper {
      padding-top: 47px;
      padding-bottom: 83px;
    }
  }
}

@media (max-width: $xs) {
  .plist-top {
    padding-top: 47px;
    padding-bottom: 53px;

    &__text-wrapper {
      width: 89%;
    }
  }

  .plist-item {
    background-position: calc(50% - 41px) center;
    background-size: auto 210px;

    &__wrapper {
      padding-top: 33px;
      padding-bottom: 26px;
    }

    &__title {
      font-size: 22px;
      margin-bottom: 10px;
    }

    &__desc {
      font-size: 18px;
      line-height: 22px;
    }

    &__btn {
      padding: 12px 23px;
      width: 100%;
    }

    &__img-wrapper {
      text-align: center;
    }
  }
}
